.cardLayout{
    width: 210px;
    height: 370px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
}
.imgLayout{
    width: 200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
}
.movietitle{
    font-size: 14px;
    /*margin-left:auto;
    margin-right:auto;*/
    margin:auto;
    padding-left:4px;
    padding-right:4px;
    color:blanchedalmond;
}
.movietitle:hover{
    color:coral;
}