<div class="container">
  <div class="row">
    <div class="col">
      <h1>Tendance film du jour</h1>
    </div>
  </div>

  <div class="row">
    <div *ngIf="moviesList != null">
      <div *ngFor='let movie of moviesList.results' class="col s12 m4 l3">
          <div class="card horizontale cardLayout">
            <div class="card-image imgLayout">
              <img [src]="getPosterImg(movie.poster_path)" alt="">
            </div>
            <p class="movietitle">{{ movie.title }}</p>
          </div>
      </div>
    </div>
  </div>
</div>